.c-intro_text {
    margin-top: 5rem;
    text-align: center;
    font-family: freight-display-pro,Times New Roman;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.25;
    color:#263238;
    margin-bottom: 2rem;
}